.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  margin:  50px 45px;
  transition: transform 0.2s ease-in-out;
}

.card-movie {
  color: #333;
  text-decoration : none;
}

.movie-container:hover {
  transform: scale(1.1);
}

.card-movie img {
  object-fit: contain;
  width: auto;
  aspect-ratio: 3/4;
  border-radius: 7px;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  margin-bottom: 5px;
}

.movie-info h3 {
  text-align: center;
}

