nav {
  border: 1px solid black;
  width: 250px;
  padding:1em ;
}

.navbar__logo {
  width: 80%;
}

@media (prefers-reduced-motion: no-preference) {
  .navbar__logo {
    animation: Navbar-logo-spin infinite 10s linear;
  }
}

@keyframes Navbar-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
